.loguinho {
    height: 40px;
    position: absolute;
    left: 50px;
    top: 20px;
}

.container-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.container-inputs label {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-bottom: 8px;
}