.loguinho2,
.loguinho {
    position: absolute;
}

.container-header-simple {
    display: flex;
    justify-content: flex-start;
    padding: 10px 30px;
    background-color: #FFFFFF;
    width: 100%;
}

.container-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.container-inputs label {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-bottom: 8px;
}

.width-limit {
    width: 100%;
    max-width: 1500px;
}