.container-sign-in {
    display: flex;
    align-items: center;
    justify-items: center;

    position: relative;

    font-family: 'Montserrat', sans-serif;
}

.content-sign-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    padding-right: 50px;
}

.left-side {
    min-height: 100vh;
    width: 50%;

    background-image: url(../../assets/logo.jpeg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: #F7F2F2;

    display: flex;
    flex-direction: column;

}


.rigth-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.rigth-side form {
    display: flex;
    flex-direction: column;
    padding: 20px 24px 40px;

    min-height: 420px;
    width: 400px;
}

.rigth-side form button {
    margin-top: 52px;
}

.container-sign-in form a,
span {
    font-size: 11px;
    margin-top: 12px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    justify-content: center;
}

.forgot-passsword {
    display: flex;
    justify-content: flex-end;
}

.link-sign-up {
    display: flex;
    justify-content: center;

}

span {
    font-family: 'Roboto', sans-serif;
    padding-right: 5px;
}