.container-sign-up {
    display: flex;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    padding: 110px 0;

    position: relative;

    font-family: 'Montserrat', sans-serif;
}

.content-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    padding: 0 50px;
}

.content-sign-up form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;

    min-height: 420px;
    width: 400px;
}

.content-sign-up form button {
    margin-top: 52px;
}

.container-sign-up form a {
    font-size: 12px;
    margin-top: 12px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}